# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

images
/home/oem/B2B/src/dbs
/home/ubuntu/Desktop/b2b/B2B/src/uploads